<div class="container">
  <br>
  <div class="row">
    <p class="col-md-4 offset-md-4" style="font-weight: bolder">
      Welcome to Sportsmart! Please login.
    </p>
  </div>
  <div class="row" *ngIf="this.error.getStatus() === true">
    <p class="alert alert-danger col-md-4 offset-md-4">
      Sorry, {{this.error.message}}
    </p>
  </div>
  <div class="row" *ngIf="this.registeredUserName.length > 0">
    <p class="alert alert-success col-md-4 offset-md-4">
      Successfully created user: {{this.registeredUserName}}
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <label for = "email">Username </label>
      <input class = "form-control" type= "email" name = "email" id = "email" placeholder = "Sales8" [(ngModel)]="user.userName">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <label>Password </label>
      <input class = "form-control" type = "password" name = "password" placeholder = "********" [(ngModel)]="user.password">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <button class="btn btn-primary col-md-4" (click)="login()">Log In</button>
      <button class="btn btn-primary offset-md-4 col-md-4" (click)="register()">Register</button>
    </div>
  </div>
</div>
