<app-data-entry-nav-header></app-data-entry-nav-header>
<form [formGroup]="firstForm" *ngIf="getStatus() == false; else elseBlock" (ngSubmit)="onVendorSubmit()">
  <div class="row">
    <div class="form-group col-md-2">
      <label>Vendor ID</label>
      <input formControlName="vendorID" type="text" class="form-control" placeholder="000000">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary col-md-1">Submit</button>
  </div>
</form>

<ng-template #elseBlock>
  <form [formGroup]="secondForm" (ngSubmit)="submitItem()">
    <div class="row">
      <button class="btn btn-primary col-md-1" (click)="secondForm.reset()">Reset Form</button>
      <a class="col-md-1"></a>
      <button routerLink="/add-item" class="btn btn-primary col-md-1 offset-2" (click)="clearID()">Back</button>
<!--      <a routerLink="/add-item" class="btn btn-primary col-md-1 offset-1" (click)="clearID()">Back</a>-->
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label>Vendor ID</label>
        <input class="form-control" placeholder="000000" value="{{vendorID}}" readonly>
      </div>
    </div>
    <!--        FIXME - There's some issues here with lining up the columns? -->
    <div class="row">
      <div class="form-group col-md-3">
        <label>Item ID</label>
        <input class="form-control" formControlName="itemID" placeholder="000000">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label>Item Code</label>
        <input class="form-control" formControlName="itemCode" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label>Price</label>
        <input class="form-control" formControlName="price" placeholder="$1.00">
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary col-md-3">Submit</button>
    </div>
  </form>
</ng-template>
