<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">NavBar</a>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="add-seller" routerLinkActive="active">Add Seller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-item" routerLinkActive="active">Add Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="find-vendor" routerLinkActive="active">Find Vendor</a>
      </li>
    </ul>
  </div>
</nav>
