<div class="col-md-12">
  <table class="table">
    <thead>
    <tr>
      <th>Barcode</th>
      <th>Category</th>
      <th>Listed Price</th>
      <th>Price</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of itemsArray">
      <th class="col-md-2">{{entry.barCode}}</th>
      <th class="col-md-2">{{entry.category}}</th>
      <th class="col-md-2">{{entry.listedPrice}}</th>
      <td class="col-md-2">{{entry.price}}</td>
      <td>
        <button class="btn btn-primary">Update</button>
      </td>
      <td>
        <button class="btn btn-primary">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-3">
  <button class="btn btn-primary" (click)="sellItems()">Submit</button>
</div>
